.operands, .operators {
  display: flex;
}

.comparator, .operand, .operator, .rhs {
  align-items: center;
  background-color: #9acd32;
  cursor: move;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: bolder;
  height: 100px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 100px;
}

.comparator, .operator, .rhs {
  background-color: #bc8f8f;
  height: 100px;
}

.canvas {
  align-items: center;
  border: 5px dashed grey;
  display: flex;
  height: 150px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.buttonContainer {
  background-color: #6495ed;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}